<!DOCTYPE html>
<html>
<head>

    <h1>Weather Getter</h1>
    <p>For all information regarding weather in your favorite cities</p>

</head>

<body>
    
    <div>

        <h3>Add cities</h3>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Add your city">
            <button class="btn btn-primary" value="submit">Add city</button>
        </form>

    </div>
    
    <div>
        <h3>Cities</h3>

        <ul>
            {% for x in weather_info %}
            <li>{{ x }}</li>
            {% endfor %}
        </ul>

    </div>

</body>

</html>