<!DOCTYPE html>
<html>
<head>

    <h1>Weather Getter</h1>
    <p>For all information regarding weather in your favorite cities</p>

</head>

<body>
    
    <div>

        <h3>Add cities</h3>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Add your city">
            <button class="btn btn-primary" value="submit" name="add_city">Add city</button>
        </form>

    </div>
    
    <div>
        <h3>Cities</h3>

                <form method="post" >
                    {% csrf_token %}
                    <select name="city_list" id="city_list">
                        
                        {% for city in myCities %}
                        <option value="{{city}}">{{city}}</option>
                        
                        {%empty%}
                        <li>No cities found.</li>
                        {% endfor %}
                    </select>
                    <button class="btn-primary" value="submit" name="view_city">Select this city</button> <br>

                    <input type="date" name="city_date">
                    <button class="btn-primary" value="submit" name="view_date">Change city date</button>
                </form>

    </div>

    <div class="col-8 w-auto m-4 pe-4 d-flex flew-row border border-dark rounded">
        <h3>Weather status</h3>
        <h4>{{ weather_info.city }}</h4>

        {% if weather_info.mode == "current" %}

            <p>{{ weather_info.temp_c }} °C</p>
            <p>{{ weather_info.time }}</p>

        {% elif weather_info.mode == "history" %}

            <p>Date: {{ weather_info.date }}</p>
            <p>Max: {{ weather_info.maxtemp_c }} °C</p>
            <p>Min: {{ weather_info.mintemp_c }} °C</p>
            
        {% endif %}

    </div>

</body>

</html>